body {
    background-color: #242424;
    font-family: sans-serif;
    padding-left: 10%;
}

/* Container styles */
.login-container {
    width: 350px;
    margin: auto;
    padding-top: 500px;
    background-color: #2c2c2c;
    padding: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(188, 188, 188);
    border-style: solid;
}

/* Heading styles */
h1 {
    zoom: 125%;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Group styles */
.login-form-group {
    margin-bottom: 15px;
    align-items: end;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
}

/* Radio Input styles */
.login-radio-input {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

/* Input field styles for text and password */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Login Button styles */
.login-button {
    background-color: #01a066;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

/* Hover effect for login button */
.login-button:hover {
    background-color: #068e5c;
}
